.reviewListContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70em;
    box-shadow: .5em .5em 2em #282c34;
    border-radius: .5em;
    padding: 1.5em 2.5em;
    gap: 1em;
}

.reviewListContainer h4 {
    align-self: center;
}

.reviewListContainer h2, h5, h4 {
    margin-bottom: 0 !important;
}

.titleRating {
    display: flex;
    gap: .4em;
    align-items: baseline;
}

.titleRating .stars {
    position: relative;
    top: .5em;
}

.titleRating span {
    font-weight: 900 !important;
}

.contentReviews {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1.5em;
}