.FormDiv {
    padding: 50px 100px;
    width: fit-content;
    display: block;
    margin: 50px auto;
    background-color: #27312f;
    border-radius: 0.3em;
    align-items: center;
  }
  
  .FormLabel {
    width: fit-content;
    display: block;
    margin:0 ;
    padding: 0;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .FormInput {
    width: 240px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 24px;
    background-color: #5f5f5f94;
    color: white;
    transition: all 0.2s;
    border: 0;
    outline: 0;
    padding: 0px 12px 0px 12px;
  }
  .FormInput:hover {
    color: #279b27;
    background-color: white;
  }
  .FormInput:focus {  
    color: #454545;
    background-color: white;
  }
  
  .SubmitBtn{
    align-items: center;
    background-color: #5f5f5f;
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 18px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    width: auto;
    margin: 30px;
    transition: all 0.2s;
    display: block;
    margin: 0 auto;
  }
  
  .SubmitBtn:hover {
    background-color: white;
    color: #454545;
  }
  
  .SubmitBtn:focus {
    outline: none;
    border: 1px solid #000000;
  }
  
  textarea {
    resize: none;
  }
  
  .FormTextArea{
    font-size: 1.4rem;
    width: 100%;
    height: 100px; 
    padding: 0;
    align-items:  center;
    margin-left: auto;
  }
  .pic{
    position: center;
    border-radius: 50%;
  }