#container-create{
    font-family: var(--font-primary);
    background-image: url('../../components/img/7.png');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    margin-right: 0;
    height: 85vh;
    width: 100%;
    overflow: hidden;
}

.bgImg{
    margin-top: -8px !important;
    transition: all 0,4s;
    height: 100% !important;
    width: 100%;
    background-image: url('../../components/img/createBG.svg');
}


#cont-title-form{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vw;
}

label {
    font-family: serif;
    font-size: 1.5rem;
}

#form-create{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

#form-create p{
    color: rgb(255, 0, 0);

}

#form-cont-left{
    height: 75%;
    width: 36%;
    margin-top: -5%;
    margin-left: 3%;
    padding: 60px;
}
.form-cont label{
    color: var(--color-primary);
    font-size: 1.2em;
    font-weight: bold;
}

.form-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 65px;
    width: 100%;
}

.form-inputs input{
    color: var(--color-secundary);
    background-color: var(--color-primary);
    height: 40px;
    width: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    margin:0px;
}

#select-prod select{
    color: black;
    background-color:white;
    height: 45px;
    width: 200px;
    border: 2px solid var(--color-primary);
    border-radius: 15px;
}

#cont-prod{
    color: rgb(241, 233, 229);
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
    margin-top:-25px;
    margin-left:-100px;
}
#cont-prod ul li button{
    background-color: red;
    height: 20px;
    width: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    padding-right: 15px;

}

#cont-btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 160px;
    margin-left: 300px;
}
#cont-btn-submit button{
    font-size: 1.2em;
    font-weight: bold;
    align-items: center;
    border: none;
    transition: .3s;
    margin-top: -250px;
}
#cont-btn-submit button:hover{
    font-size: 1.25em;
    box-shadow: 0px 5px 5px #555;
}

body.Dark .bgImg {
    background-image: url('../../components/img/createBGDark.svg');
    padding: 0;

}
body.Dark h1 {
    color: white;
}

