.containerSearchBar {
    flex-grow: 2 !important;
    display: flex !important;
    justify-content: center !important;
}

.input-group {
    width: 75% !important;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #ced4da !important;
}