
.containerHome {
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    width: 100%;
    min-height: 72vh;
    margin-bottom: 1em;
}

.containerContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1em;
}

.containerCards{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 72%;
    gap: 1em;
}

.cardRating {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5em !important;
    width: 7.5em !important;
}

.cardStar {
    margin: 0;
    font-size: 1.2rem;
    color: #888;
}

.cardStarActive {
    margin: 0;
    font-size: 1.2rem;
    color: #169E85;
}

.aditionalContent .MuiFormControl-root {
    display: flex !important;
    margin-left: auto !important;
    margin-top: 0 !important;
    margin-bottom: 0.3em !important;
    border: none !important;
}

.ocult {
    opacity: 0;
}

.css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root:hover:not(.Mui-disabled)::before {
    border-bottom: none !important;
}

.css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root::before {
    border-bottom: none !important;
}

.css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root::after {
    border-bottom: none !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: rgba(0, 0, 0, 0.6) !important; 
}

.aditionalContent {
    display: flex;
    align-items: center;
}

.numberOfResults {
    font-size: .9em !important;
    margin-left: 3em !important;
}

.numberOfResults span {
    font-size: 1.1em !important;
    font-weight: 800 !important;
    font-style: italic !important;
}

.selectedFilters {
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: .8em;
    gap: .8em;
}

.selectedFilters span {
    font-weight: 600;
}

.activeFilter {
    display: flex;
    font-size: .9em;
    padding: .5em;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
    gap: .3em;
    background-color: white;
}

.activeFilter:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    
}
