.Pagination{
  display: flex;
  margin-top: auto;
  text-align: center;
  justify-content: center;
}

.pagItem{
  list-style: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 0.3em;
  transition: all 0.3s;
  display: inline;
}

.pagItem:hover{
  background-color: #b3b3b3;
}
