.CookieDiv {  
  background-color: #FFFFFF;
  position: fixed;
  left: 30px;
  bottom: 30px;
  padding: 20px;
  width: fit-content;
  max-width: 300px;
  z-index: 100;
}

.CookieBG {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: fixed;
}

.Accepted {
  display: none;
}