@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.sticky-top {
    margin-bottom: .5em !important;
}

.navbar-brand {
    color: #169E85 !important;
    font-family: 'Satisfy', cursive !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-transform: none !important;
}

.navbar {
    text-transform: none !important;
}

.nav-link {
    color: white !important;
    font-weight: 600 !important;
}

.nav-link:hover {
    color: #dddddd !important;
}

.btn-outline-success {
    color: #169E85 !important;
    border-color: #169E85 !important;
    font-weight: 600 !important;
    text-transform: none !important;
    padding: 0.6em .8em !important;
}

.btn-outline-success:hover {
    color: white !important;
    background-color: #169E85 !important;
}

.btn-outline-success:focus {
    box-shadow: none !important;
    background-color: #169E85 !important;
    color: white !important;
}

.btn-outline-success:active {
    box-shadow: none !important;
    background-color: #169E85 !important;
    color: white !important;
}

.btn-outline-success:active:focus {
    box-shadow: none !important;
}

.ProfileImg {
    height: 50px;
    border-radius: 50%;
    margin: 0 20px;
}

.Loading {
    color: red;
}

body.Dark .navbar {
    background: linear-gradient(45deg, #0f7461, black, #0f7461);
}

.sellStyle{
    cursor: pointer;
    font-weight: 900 !important;
    font-size: 1.4rem !important;
    color: #169E85 !important;
    transition: all 0.3s !important;
    stroke: #0f7461 !important;
}

.dropDown{
    font-size: 1.1rem;
    font-weight: 900;
}